# Copyright (C) 2025 This file is copyright:
# This file is distributed under the same license as the kconfigwidgets package.
#
# SPDX-FileCopyrightText: 2025 Kisaragi Hiu <mail@kisaragi-hiu.com>
msgid ""
msgstr ""
"Project-Id-Version: kconfigwidgets\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2026-02-25 00:42+0000\n"
"PO-Revision-Date: 2026-01-13 08:20+0900\n"
"Last-Translator: Kisaragi Hiu <mail@kisaragi-hiu.com>\n"
"Language-Team: Taiwanese Hokkien <zh-l10n@lists.slat.org>\n"
"Language: nan_TW@latin\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"X-Generator: Lokalize 25.11.70\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Kisaragi Hiu"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "mail@kisaragi-hiu.com"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Piau-tsún"

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Tsū-tōng tsing-tshik"

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr ""

#: kcommandbar.cpp:660
#, kde-format
msgid "No commands to display"
msgstr ""

#: kcommandbar.cpp:662
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Siat-tīng"

#: khamburgermenu.cpp:125
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "Suán-tuann(&M)"

#: khamburgermenu.cpp:325
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr ""

#: khamburgermenu.cpp:351
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "較濟"

#: khamburgermenu.cpp:352
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Khah-tsè tōng-tsok"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Bô hāng-bo̍k"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr ""

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "Tńg-khì(&B)"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "Hiòng-tsiân(&F)"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "Thâu-ia̍h(&H)"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""

#: kstandardaction_p.h:63
msgid "&New"
msgstr ""

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr ""

#: kstandardaction_p.h:64
msgid "&Open…"
msgstr ""

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr ""

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr ""

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:66
msgid "&Save"
msgstr ""

#: kstandardaction_p.h:66
msgid "Save document"
msgstr ""

#: kstandardaction_p.h:67
msgid "Save &As…"
msgstr ""

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr ""

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr ""

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:69
msgid "&Close"
msgstr ""

#: kstandardaction_p.h:69
msgid "Close document"
msgstr ""

#: kstandardaction_p.h:70
msgid "&Print…"
msgstr ""

#: kstandardaction_p.h:70
msgid "Print document"
msgstr ""

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr ""

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:72
msgid "&Mail…"
msgstr ""

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr ""

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "&Lī-khui"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "Lī-khui ìng-iōng-tîng-sik"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "&Ho̍k-guân"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "Ho̍k-guân tíng-kái ê tōng-tsok"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "Tshú-s&iau ho̍k-guân"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr "Kah tíng-kái ho̍k-guân ê tōng-tsok koh tsò tsi̍t-pái"

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr ""

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "&Khóo-pih"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr ""

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr ""

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr ""

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr ""

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr ""

#: kstandardaction_p.h:83
msgid "&Find…"
msgstr ""

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr ""

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr ""

#: kstandardaction_p.h:86
msgid "&Replace…"
msgstr ""

#: kstandardaction_p.h:88
msgid "Zoom to &Actual Size"
msgstr ""

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr ""

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr ""

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr ""

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr ""

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr ""

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr ""

#: kstandardaction_p.h:94
msgid "&Zoom…"
msgstr ""

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr ""

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:95
msgid "Refresh document"
msgstr ""

#: kstandardaction_p.h:97
msgid "&Up"
msgstr ""

#: kstandardaction_p.h:97
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr ""

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr ""

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr ""

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr ""

#: kstandardaction_p.h:104
msgid "&Go To…"
msgstr "Tsiân-óng(&G)…"

#: kstandardaction_p.h:105
msgid "&Go to Page…"
msgstr ""

#: kstandardaction_p.h:106
msgid "&Go to Line…"
msgstr ""

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr ""

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr ""

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr ""

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr ""

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "Hiòng-āu(&B)"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr "Tī bûn-kiānn lāi-té hiòng-āu"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "Hiòng-tsiân(&F)"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr "Tī bûn-kiānn lāi-té hiòng-tsiân"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr ""

#: kstandardaction_p.h:113
msgid "&Edit Bookmarks…"
msgstr ""

#: kstandardaction_p.h:115
msgid "&Spelling…"
msgstr ""

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr ""

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr ""

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr ""

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr ""

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr ""

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr ""

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr ""

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr ""

#: kstandardaction_p.h:121
msgid "Configure Keyboard S&hortcuts…"
msgstr ""

#: kstandardaction_p.h:122
#, kde-format
msgid "&Configure %1…"
msgstr ""

#: kstandardaction_p.h:123
msgid "Configure Tool&bars…"
msgstr ""

#: kstandardaction_p.h:124
msgid "Configure &Notifications…"
msgstr ""

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr ""

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr ""

#: kstandardaction_p.h:130
msgid "&Report Bug…"
msgstr "Huê-pò tshò-gōo(&R)…"

#: kstandardaction_p.h:131
msgid "Configure &Language…"
msgstr "Siat-tīng gí-giân(&L)…"

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "%1 ê s&iāu-kài"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "&KDE ê siāu-kài"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr "Thâi-tiāu(&D)"

#: kstandardaction_p.h:135
msgid "&Rename…"
msgstr "Kái-miâ(&R)…"

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr "Suá-khì pùn-sò-tháng(&M)"

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr "Kià-hù(&D)"

#: kstandardaction_p.h:138
msgid "Open &Menu"
msgstr ""

#: kstylemanager.cpp:74
#, kde-format
msgid "Application Style"
msgstr ""

#: kstylemanager.cpp:78
#, kde-format
msgid "Default"
msgstr ""
